.mar {
    margin-top: 5px;
    margin-left: 40px;
    margin-right: 40px;
}

.t {
    font-weight: bold;
}

tbody tr:hover {
    background-color: #ffffff1a; 
    transform: scale(1.01); /*zoom quando o mouse passa*/
    box-shadow: inset 0 0px 1em #a1a1a16b, 0 0 1em #6c6c6c88; /*borda e sombra*/
    cursor: pointer; /*muda o tipo do cursor*/
}

footer {
    margin-top: 80px;
    margin-left: 30px;
    margin-right: auto;
}
